body {
    background-color: #4c7579;
    font-family: Arial, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}

ul.opties {
    list-style-type: none; /* Verwijdert de standaard bullet points */
    padding: 0;            /* Verwijdert de standaard padding van de lijst */
    margin: 0;             /* Verwijdert de standaard marge van de lijst */
}

ul.opties li {
    padding: 10px 0;       /* Voegt ruimte toe tussen de lijstitems */
    border-bottom: 1px solid #ccc; /* Voegt een scheidingslijn toe tussen de items */
}

ul.opties li:last-child {
    border-bottom: none;   /* Verwijdert de scheidingslijn bij het laatste item */
}

li {
    float: left;
    height: 119px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: absolute;
    padding: 30px 16px;
    text-decoration: none;
    font-size: xxx-large;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #79C99E;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}       

.foutww {
    position: fixed;
    top: 50%;
    left: 15%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 255%;
    color: red;
}

.centeredbutton {
    position: fixed;
    top: 65%;
    left: 25%;
    background-color: #79C99E;
    margin-top: -50px;
    margin-left: -100px;
    width: 70%;
    height: 20%;
    font-size: xxx-large;
    color: black;
}

.profilepicture {
    position: fixed;
    width: 11%;
    left: 87%;
    top: 0.75%;
}

.search-container {
    max-width: 400px;
    margin: 0 auto;
    position: fixed;
    left: 1%;
    top: 20%
}

.search-box {
    width: 90%;
    padding: 10px;
    font-size: xx-large;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
    
}

.aantal {
    position: fixed;
    left: 200px;
}

.value-display {        
    position: fixed;
    margin-top: -80px; /* Pas de top marge aan zoals gewenst */
    margin-left: 70%; /* Pas de left marge aan zoals gewenst */
    margin-right: 20px; /* Pas de right marge aan zoals gewenst */
    font-size: xx-large;
    color: rgb(255, 255, 255);
}


.Invullenicon {
    font-size: xxx-large;
    color: #ffffff;
}

.hoeveelheidbox {
    width: 20%;
    padding: 10px;
    font-size: xx-large;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
    position: absolute;
    left: 100%;
    top: 1%
}

.hoeveelheidzegger {
    color: #ffffff;
    position: absolute;
    font-size: xx-large;
    left: 41.9%;
    top: 15%;
}

.totaalclass,.nodig {
    left: 50%;
    color: #00aeff;
    position: absolute;
    font-size: 35px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.totaalclass {
    top: 9.5%;
}

.nodig {
    top: 12.5%;
}

.downloadknop {
    position: fixed;
    background-color: #79C99E;
    margin-top: -80px; /* Pas de top marge aan zoals gewenst */
    margin-left: 70%; /* Pas de left marge aan zoals gewenst */
    margin-right: 20px;
}
